############################
# Maven (ignore ALL target folders)
############################

target/
**/target/

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.ipr
*.iws
out/